/* Ensure the body and html take up the full viewport */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

header {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    height: 3em;
    background-color: lightgray;
}

.header-icon {
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}
/* Style for navigation in the header */
.header-nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Style for the main app logo */
.storefront-logo {
    width: 2.1em;
    object-fit: cover; /* Ensure the logo fits within its container */
}
/* Style for the navigation links in the header */
.header-nav-icon li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.8em; /* Add some spacing between the icons */
}

/* Style for the nav-icons image size */
.header-icon li a img{
    width: 1.6em;
}
/* Make the .slide-info section fit the full screen */
.slide-info {
    width: 100%;
    height: 50vh; /* Set the height to 50% of the viewport */
    overflow: hidden;
    position: relative;
}

/* Style the slider to fit the full screen */
.slider {
    display: flex;
    width: 300%; /* Adjust for the number of slides */
    height: 100%; /* Match the height of the .slide-info section */
    animation: slide 20s infinite;
}

.slide {
    width: 100%;
    height: 100%; /* Match the height of the slider */
    flex-shrink: 0;
}

.slide img {
    width: 100%; /* Make the image fit the device width */
    height: auto; /* Maintain the aspect ratio */
    object-fit: contain; /* Ensure the image fits within its container */
}

/* Keyframes for sliding effect */
@keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
}

/* Style for the product sample on the home page */